/* header */
.nav-container{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    padding: 30px 0;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    gap: 25px;
    
}
.menu h2{
    font-size: 20px;
}
.download button{
    padding: 8px;
    border: 1px dotted paleturquoise;
    background-color: chocolate;
    border-radius: 8px;
    font-size: 17px;
    color: white;
}
/* banner */
.banner{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}

.text{
    text-align: end;
    margin-top: 120px;
    
}
.text h2{
    font-size: 40px;
    font-weight: 600;
}
.text p{
    color: rgb(205, 183, 183);
    font-size: 20px;
    margin-top: 15px;
}
.svgs{
    width: 35px;
    color: aqua;
}
/* skill */
.skill{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    
}
.hire{
    display: flex;
    gap: 30px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 40px;
    background-color: rgb(38, 158, 158);
    margin-top: 20px;
}
.hire button{
    padding: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
    font-size: 22px;
    background-color: var(--primary-color);
}
.arrow{
    width: 18px;
    margin-left: 5px;
    font-weight: 600;
    
}
.icon{
    display: flex;
    gap: 10px;
    margin-top: 20px;

}
/* extra */
.extradiv{
    display: flex;
    padding: 20px;
    border: 1px dotted gray;
    background: #000;
    gap: 25px;
    /* margin-top: 25px; */
    transform: rotate(-3deg);
    
}

.about-section{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    margin-top: 80px;
    padding: 20px;
}
.about h2{
    font-size: 30px;
    font-weight: 600;
}
.about p{
    color: rgb(205, 183, 183);
    font-size: 20px;
    margin-top: 15px;
}
.svgsd{
    width: 30px;
    color: rgb(245, 171, 21);
}

/* experience */

.experience{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 80px;
    background-color: rgb(50, 124, 125);
    margin-top: 30px;

}
.row{
    border-bottom: 2px dotted rgb(152, 163, 7);
    padding: 5px;
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
/* award */
.award-section{
    
    padding: 30px 10px;
    background-color: rgb(53, 63, 63);
    margin-bottom: 30px;
}
.award-head{
    text-align: center;
    margin-bottom: 30px;
}
.award-des{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 30px ;
    background-color: #000;
    margin-top: 10px;
    border-radius: 20px;
    /* margin-bottom: -10px; */
}
/* portfolio-head */
.portfolio-section{
    padding: 30px 10px;
    background-color: rgb(13, 129, 110);
    /* margin-bottom: 30px; */
    margin-top: -30px;
}
.portfolio-head{
    text-align: center;
    margin-bottom: 30px;
}
.pro-head{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.pro-head h2{
    background-color: #000;
    padding: 8px;
    border-radius: 8px;
    font-size: 20px;
}
.pro-head h3{
    background-color: orange;
    padding: 8px;
    border-radius: 8px;
    font-size: 20px;
}
.ux{
    margin-top: 50px;
}
.up-ux{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-top: 20px;
}
.pro-text{
    text-align: start;
    padding: 20px 30px;
     margin-top: 40px;
    
}
.imge{
    width: 600px;
    /* border-radius: 20px; */
}

/* contact-section */
.contact-section{
    background-color: rgb(88, 39, 134);
    
}
.contact-head{
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    
    padding: 50px 20px;
}
.contact-head h2{
    margin-top: 15px;
}
.project{
    background-color: rgb(107, 107, 70);
    
    
}

.project-form{
    
    padding: 20px;
}
.forms{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}
.forms h2{
    /* margin-bottom: 5px; */
}
.hook{
    width: 30px;
    height: 30px;
}

@media only screen and (min-width: 200px) and (max-width: 720px) {
    .banner{
       flex-direction: column;
       padding: 5px;
    }
    .extradiv{
        flex-direction: column;
        padding: 15px;
        gap: 5px;
    }
    .about-section{
    flex-direction: column;}
    .about{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .experience{
        flex-direction: column;
        
    }
    .ex-right{
        margin-top: 30px;
        
    }
}