/* header */
.nav-container{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    padding: 30px 0;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    gap: 25px;
    
}
.menu h2{
    font-size: 20px;
}
.download button{
    padding: 8px;
    border: 1px dotted paleturquoise;
    background-color: chocolate;
    border-radius: 8px;
    font-size: 17px;
    color: white;
}
/* banner */
.banner{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}

.text{
    text-align: end;
    margin-top: 120px;
    
}
.text h2{
    font-size: 40px;
    font-weight: 600;
}
.text p{
    color: rgb(205, 183, 183);
    font-size: 20px;
    margin-top: 15px;
}
.svgs{
    width: 35px;
    color: aqua;
}
/* skill */
.skill{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    
}
.hire{
    display: flex;
    gap: 30px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 40px;
    background-color: rgb(38, 158, 158);
    margin-top: 20px;
}
.hire button{
    padding: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
    font-size: 22px;
    background-color: var(--primary-color);
}
.arrow{
    width: 18px;
    margin-left: 5px;
    font-weight: 600;
    
}
.icon{
    display: flex;
    gap: 10px;
    margin-top: 20px;

}
/* extra */
.extradiv{
    display: flex;
    padding: 20px;
    border: 1px dotted gray;
    background: #000;
    gap: 25px;
    /* margin-top: 25px; */
    transform: rotate(-3deg);
    
}

.about-section{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    margin-top: 80px;
    padding: 20px;
}
.about h2{
    font-size: 30px;
    font-weight: 600;
}
.about p{
    color: rgb(205, 183, 183);
    font-size: 20px;
    margin-top: 15px;
}
.svgsd{
    width: 30px;
    color: rgb(245, 171, 21);
}

/* experience */

.experience{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 80px;
    background-color: rgb(50, 124, 125);
    margin-top: 30px;

}
.row{
    border-bottom: 2px dotted rgb(152, 163, 7);
    padding: 5px;
    display: flex;
    gap: 30px;
    margin-top: 20px;
}


@media only screen and (min-width: 200px) and (max-width: 720px) {
    .banner{
       flex-direction: column;
       padding: 5px;
    }
    .extradiv{
        flex-direction: column;
        padding: 15px;
        gap: 5px;
    }
    .about-section{
    flex-direction: column;}
    .about{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .experience{
        flex-direction: column;
        
    }
    .ex-right{
        margin-top: 30px;
        
    }
}